@font-face {
	font-family: "OpenSansLight";
	src: url("https://i.owox.com/fonts/OpenSansLight.eot");
	src: url("https://i.owox.com/fonts/OpenSansLight.eot?#iefix")format("embedded-opentype"),
	url("https://i.owox.com/fonts/OpenSansLight.woff") format("woff"),
	url("https://i.owox.com/fonts/OpenSansLight.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "OpenSansRegular";
	src: url("https://i.owox.com/fonts/OpenSansRegular.eot");
	src: url("https://i.owox.com/fonts/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
	url("https://i.owox.com/fonts/OpenSansRegular.woff") format("woff"),
	url("https://i.owox.com/fonts/OpenSansRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "OpenSansBold";
	src: url("https://i.owox.com/fonts/OpenSansBold.eot");
	src: url("https://i.owox.com/fonts/OpenSansBold.eot?#iefix")format("embedded-opentype"),
	url("https://i.owox.com/fonts/OpenSansBold.woff") format("woff"),
	url("https://i.owox.com/fonts/OpenSansBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "OpenSansSemiBold";
	src: url("https://i.owox.com/fonts/OpenSansSemiBold.eot");
	src: url("https://i.owox.com/fonts/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
	url("https://i.owox.com/fonts/OpenSansSemiBold.woff") format("woff"),
	url("https://i.owox.com/fonts/OpenSansSemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}
